
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.calender-JPB {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.calender-JPB .auto-group-wop7-r9o {
  width: 100%;
  height: 11.7rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR {
  box-sizing: border-box;
  padding: 6rem 0rem 33.3rem 0.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-m7ub-fsw {
  margin: 0rem 12.2rem 13.4rem 12.5rem;
  width: calc(100% - 24.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-m7ub-fsw .profile-CN5 {
  margin-right: 29.8rem;
  cursor: pointer;
  font-size: 3.5rem;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-m7ub-fsw .calender-event-j77 {
  margin-right: 20.8rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-m7ub-fsw .contact-us-fWZ {
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-mrqv-y1T {
  margin-bottom: 6rem;
  width: 143.9rem;
  height: 13.1rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .medan-3X7 {
  margin: 0rem 0.5rem 6rem 0rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-j7hk-YCy {
  margin: 0rem 7.2rem 15rem 5.8rem;
  box-sizing: border-box;
  padding-right: 20rem;
  width: calc(100% - 13rem);
  height: 35.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-j7hk-YCy .auto-group-fy4d-qhs {
  margin-right: 18.8rem;
  box-sizing: border-box;
  padding: 7.1rem 9.6rem 9.6rem 9.5rem;
  width: 33.6rem;
  height: 100%;
  background-color: #000000;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-j7hk-YCy .auto-group-fy4d-qhs .apr-MRK {
  max-width: 14.5rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-j7hk-YCy .auto-group-wiy1-HZs {
  margin: 7.1rem 0rem 11.1rem 0rem;
  height: calc(100% - 18.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-j7hk-YCy .auto-group-wiy1-HZs .delipark-pets-event-oYD {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-j7hk-YCy .auto-group-wiy1-HZs .am-1700-pm-JE5 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-rz2q-ahP {
  margin: 0rem 6.5rem 11.4rem 6.5rem;
  box-sizing: border-box;
  padding-right: 11.1rem;
  width: calc(100% - 13rem);
  height: 35.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-rz2q-ahP .auto-group-rfgm-gVX {
  margin-right: 14.4rem;
  box-sizing: border-box;
  padding: 7.1rem 10.2rem 9.6rem 10rem;
  width: 33.6rem;
  height: 100%;
  background-color: #000000;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-rz2q-ahP .auto-group-rfgm-gVX .mei-ce5 {
  max-width: 13.4rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-rz2q-ahP .auto-group-zdnh-MLm {
  margin: 7.1rem 0rem 11.1rem 0rem;
  height: calc(100% - 18.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-rz2q-ahP .auto-group-zdnh-MLm .mahantan-rabbit-event-UwB {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-rz2q-ahP .auto-group-zdnh-MLm .am-1700-pm-1RK {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-gkar-WN5 {
  margin: 0rem 6.5rem 11.4rem 6.5rem;
  box-sizing: border-box;
  padding-right: 12rem;
  width: calc(100% - 13rem);
  height: 35.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-gkar-WN5 .auto-group-3svw-CEu {
  margin-right: 11rem;
  box-sizing: border-box;
  padding: 7.1rem 9.1rem 9.6rem 9rem;
  width: 33.6rem;
  height: 100%;
  background-color: #000000;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-gkar-WN5 .auto-group-3svw-CEu .juni-iDF {
  max-width: 15.5rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-gkar-WN5 .auto-group-pqsm-TAq {
  margin: 5.8rem 0rem 12.4rem 0rem;
  height: calc(100% - 18.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-gkar-WN5 .auto-group-pqsm-TAq .sun-plaza-pets-treatment-yus {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-gkar-WN5 .auto-group-pqsm-TAq .am-2100-pm-VtD {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .jakarta-1bf {
  margin: 0rem 1.4rem 6.8rem 0rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-ru8d-L89 {
  margin: 0rem 6.8rem 0rem 6.2rem;
  box-sizing: border-box;
  padding-right: 21.8rem;
  width: calc(100% - 13rem);
  height: 35.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-ru8d-L89 .auto-group-yq2h-Sws {
  margin-right: 21.8rem;
  box-sizing: border-box;
  padding: 7.1rem 9.2rem 9.6rem 9rem;
  width: 33.6rem;
  height: 100%;
  background-color: #000000;
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-ru8d-L89 .auto-group-yq2h-Sws .nov-Acy {
  max-width: 15.4rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-ru8d-L89 .auto-group-lppv-3wf {
  margin: 6.4rem 0rem 12.6rem 0rem;
  width: 53.2rem;
  height: calc(100% - 19rem);
  flex-shrink: 0;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-ru8d-L89 .auto-group-lppv-3wf .pik-pets-adoption-n8Z {
  margin-bottom: 1.6rem;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.calender-JPB .auto-group-ed2q-YYR .auto-group-ru8d-L89 .auto-group-lppv-3wf .am-1800-pm-7Rj {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
}
