
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-oZK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-oZK .auto-group-agcq-Rah {
  margin-bottom: 3.4rem;
  width: 100%;
  height: 11.7rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-shrink: 0;
}
.home-oZK .auto-group-djs1-Awb {
  margin: 0rem 13.2rem 3.7rem 12.1rem;
  width: calc(100% - 25.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-oZK .auto-group-djs1-Awb .profile-qgM {
  margin-right: 29.8rem;
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-djs1-Awb .calender-event-jWq {
  margin-right: 20.8rem;
  cursor: pointer;
  font-size: 3.5rem;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-djs1-Awb .contact-us-cqX {
  cursor: pointer;
  font-size: 3.5rem;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.325;
  color: #8e8e8e;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-jyr9-wN1 {
  margin-bottom: 8rem;
  width: 100%;
  height: 68.6rem;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-2-bg.png');
  flex-shrink: 0;
}
.home-oZK .auto-group-jyr9-wN1 .anatole-france-5UD {
  width: 32.3rem;
  height: 5.3rem;
  position: absolute;
  left: 35.4rem;
  top: 59.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.home-oZK .auto-group-jyr9-wN1 .until-one-has-loved-an-animal-a-part-od-ones-soul-remains-unawakened-VH3 {
  width: 59.4rem;
  height: 15.9rem;
  position: absolute;
  left: 8.4rem;
  top: 44.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.home-oZK .become-the-donator-for-our-lovely-friends-3Sy {
  margin: 0rem 0rem 11.9rem 4rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-lgqf-Jth {
  margin-bottom: 6.6rem;
  box-sizing: border-box;
  padding: 9.8rem 6.6rem 13.2rem 6.6rem;
  width: 100%;
  height: 40.9rem;
  background-color: #000000;
  flex-shrink: 0;
}
.home-oZK .auto-group-lgqf-Jth .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9 {
  max-width: 121.6rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.home-oZK .auto-group-lgqf-Jth .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9 .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9-sub-0 {
}
.home-oZK .auto-group-lgqf-Jth .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9 .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9-sub-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.home-oZK .auto-group-lgqf-Jth .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9 .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9-sub-2 {
}
.home-oZK .auto-group-lgqf-Jth .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9 .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9-sub-3 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.home-oZK .auto-group-lgqf-Jth .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9 .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9-sub-4 {
}
.home-oZK .auto-group-lgqf-Jth .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9 .with-spirited-away-groups-you-are-working-to-save-the-lives-of-animal-across-indonesia-you-give-them-a-warm-homes-pc9-sub-5 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
}
.home-oZK .tips-trick-2tZ {
  margin-right: 5rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 {
  box-sizing: border-box;
  padding: 10.3rem 15.8rem 10.7rem 13.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR {
  margin-bottom: 16.2rem;
  width: 100%;
  height: 68.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-kazm-cbs {
  margin-right: 22.5rem;
  box-sizing: border-box;
  padding: 0rem 0rem 3.6rem 0.2rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-kazm-cbs .rectangle-6-jAh {
  margin-bottom: 3.5rem;
  width: 45.8rem;
  height: 37rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-kazm-cbs .toxic-human-food-that-you-shouldnt-give-e2m {
  margin: 0rem 8.7rem 2.5rem 0rem;
  max-width: 33.8rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-kazm-cbs .auto-group-dx8u-JND {
  margin-right: 4.1rem;
  width: 16rem;
  height: 6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-mxwx-n2V {
  box-sizing: border-box;
  padding: 0rem 0rem 3.6rem 0.2rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-mxwx-n2V .rectangle-9-WDP {
  margin-bottom: 3.5rem;
  width: 45.8rem;
  height: 37rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-mxwx-n2V .ways-to-keep-your-pet-mouth-clean-qmT {
  margin: 0rem 7.2rem 7.8rem 0rem;
  max-width: 35.3rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-6ynm-gCR .auto-group-mxwx-n2V .auto-group-5ubs-wpV {
  margin-right: 4.1rem;
  width: 16rem;
  height: 6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm {
  margin-left: 0.2rem;
  width: calc(100% - 0.2rem);
  height: 68.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-ajdx-wT7 {
  margin-right: 22.3rem;
  box-sizing: border-box;
  padding: 0rem 0rem 3.6rem 0.2rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-ajdx-wT7 .rectangle-12-daq {
  margin-bottom: 3.5rem;
  width: 45.8rem;
  height: 37rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-ajdx-wT7 .this-why-you-need-to-preventive-care-for-pets-jtm {
  margin: 0rem 8.4rem 2.5rem 0rem;
  max-width: 34.1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-ajdx-wT7 .auto-group-b3b7-hj7 {
  margin-right: 4.1rem;
  width: 16rem;
  height: 6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-gyaz-nEm {
  box-sizing: border-box;
  padding: 0rem 0rem 3.6rem 0.2rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-gyaz-nEm .rectangle-15-JD7 {
  margin-bottom: 3.5rem;
  width: 45.8rem;
  height: 37rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-gyaz-nEm .beginner-guide-to-pet-a-rabbit-QX3 {
  margin: 0rem 4.2rem 7.8rem 0rem;
  max-width: 38.3rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-oZK .auto-group-wdv9-MA9 .auto-group-arcr-RUm .auto-group-gyaz-nEm .auto-group-rxc5-i1w {
  margin-right: 4.1rem;
  width: 16rem;
  height: 6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #000000;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV {
  box-sizing: border-box;
  padding: 9.8rem 4.3rem 8.8rem 6.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-boi1-7pm {
  margin-right: 42.1rem;
  box-sizing: border-box;
  padding-left: 42rem;
  height: 17.4rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-xwzk-Dcu {
  margin-bottom: 15.1998rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-xwzk-Dcu .japaris-vet-clinic-m8d {
  margin-right: 5rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-xwzk-Dcu .medan-animal-rescue-VaR {
  margin-right: 5.7rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-xwzk-Dcu .medan-pet-house-1of {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-l4tq-KJZ {
  margin: 0rem 37.147rem 10.843rem 34.5rem;
  width: calc(100% - 71.6468rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-l4tq-KJZ .vector-S8H {
  margin: 0.4rem 14rem 0rem 0rem;
  width: 4.8rem;
  height: 5.0573rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-l4tq-KJZ .social-icons-mAZ {
  margin: 0.143rem 14rem 0rem 0rem;
  width: 4.8rem;
  height: 3.9001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-l4tq-KJZ .social-icons-5S9 {
  margin: 0rem 14.051rem 0.658rem 0rem;
  width: 4.7972rem;
  height: 4.7991rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .auto-group-l4tq-KJZ .social-icons-bfP {
  margin-bottom: 0.6573rem;
  width: 4.7052rem;
  height: 4.8002rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-oZK .auto-group-bwa1-nnV .copyright-2023-spiritedawaydev-all-right-reserved-8vD {
  margin-left: 8.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.325;
  color: #ffffff;
  font-family: PT Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
