
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.calender-JPB {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-wop7-r9o {
    width: 100%;
    height: 11.7rem;
    line-height: 1.325;
    font-family: PT Serif, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-shrink: 0;
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    display: flex;
  }
  .auto-group-ed2q-YYR {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6rem 0rem 33.3rem 0.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-m7ub-fsw {
      margin: 0rem 12.2rem 13.4rem 12.5rem;
      width: calc(100% - 24.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .profile-CN5 {
        cursor: pointer;
        font-size: 3.5rem;
        white-space: nowrap;
        color: #8e8e8e;
        font-family: PT Serif, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 29.8rem;
        font-weight: 700;
        line-height: 1.325;
      }
      .calender-event-j77 {
        color: #000000;
        font-family: PT Serif, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 20.8rem;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.325;
      }
      .contact-us-fWZ {
        font-weight: 700;
        line-height: 1.325;
        color: #8e8e8e;
        font-family: PT Serif, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 3.5rem;
      }
    }
    .auto-group-mrqv-y1T {
      font-weight: 700;
      margin-bottom: 6rem;
      color: #ffffff;
      background-color: #000000;
      height: 13.1rem;
      font-family: PT Serif, 'Source Sans Pro';
      display: flex;
      align-items: center;
      width: 143.9rem;
      font-size: 6rem;
      line-height: 1.325;
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
    }
    .medan-3X7 {
      margin: 0rem 0.5rem 6rem 0rem;
      font-size: 6rem;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
      line-height: 1.325;
      font-family: PT Serif, 'Source Sans Pro';
    }
    .auto-group-j7hk-YCy {
      height: 35.3rem;
      display: flex;
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      width: calc(100% - 13rem);
      box-sizing: border-box;
      padding-right: 20rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.2rem 15rem 5.8rem;

      .auto-group-fy4d-qhs {
        width: 33.6rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 18.8rem;
        box-sizing: border-box;
        padding: 7.1rem 9.6rem 9.6rem 9.5rem;

        .apr-MRK {
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
          max-width: 14.5rem;
          text-align: center;
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.325;
        }
      }
      .auto-group-wiy1-HZs {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.1rem 0rem 11.1rem 0rem;
        height: calc(100% - 18.2rem);

        .delipark-pets-event-oYD {
          text-align: center;
          font-weight: 700;
          font-family: PT Serif, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          margin-bottom: 2.4rem;
          font-size: 6rem;
          line-height: 1.325;
          color: #000000;
        }
        .am-1700-pm-JE5 {
          flex-shrink: 0;
          text-align: center;
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.325;
          color: #8e8e8e;
          font-family: PT Serif, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-rz2q-ahP {
      margin: 0rem 6.5rem 11.4rem 6.5rem;
      width: calc(100% - 13rem);
      height: 35.3rem;
      flex-shrink: 0;
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      box-sizing: border-box;
      padding-right: 11.1rem;
      display: flex;
      align-items: center;

      .auto-group-rfgm-gVX {
        width: 33.6rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 14.4rem;
        box-sizing: border-box;
        padding: 7.1rem 10.2rem 9.6rem 10rem;

        .mei-ce5 {
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
          max-width: 13.4rem;
          text-align: center;
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.325;
        }
      }
      .auto-group-zdnh-MLm {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.1rem 0rem 11.1rem 0rem;
        height: calc(100% - 18.2rem);
        align-items: center;

        .mahantan-rabbit-event-UwB {
          margin-bottom: 2.4rem;
          text-align: center;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          font-size: 6rem;
          line-height: 1.325;
          font-family: PT Serif, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .am-1700-pm-1RK {
          line-height: 1.325;
          color: #8e8e8e;
          font-family: PT Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 5rem;
          text-align: center;
          font-weight: 700;
          margin-right: 0.1rem;
        }
      }
    }
    .auto-group-gkar-WN5 {
      margin: 0rem 6.5rem 11.4rem 6.5rem;
      box-sizing: border-box;
      padding-right: 12rem;
      background-color: #ffffff;
      border: solid 0.1rem #000000;
      flex-shrink: 0;
      width: calc(100% - 13rem);
      height: 35.3rem;
      display: flex;
      align-items: center;

      .auto-group-3svw-CEu {
        width: 33.6rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 11rem;
        box-sizing: border-box;
        padding: 7.1rem 9.1rem 9.6rem 9rem;

        .juni-iDF {
          font-weight: 700;
          line-height: 1.325;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
          max-width: 15.5rem;
          text-align: center;
          font-size: 7rem;
        }
      }
      .auto-group-pqsm-TAq {
        height: calc(100% - 18.2rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 5.8rem 0rem 12.4rem 0rem;

        .sun-plaza-pets-treatment-yus {
          text-align: center;
          font-size: 6rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-weight: 700;
          line-height: 1.325;
          font-family: PT Serif, 'Source Sans Pro';
        }
        .am-2100-pm-VtD {
          font-weight: 700;
          line-height: 1.325;
          color: #8e8e8e;
          font-family: PT Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 5rem;
        }
      }
    }
    .jakarta-1bf {
      font-size: 6rem;
      line-height: 1.325;
      font-family: PT Serif, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-weight: 700;
      color: #000000;
      flex-shrink: 0;
      margin: 0rem 1.4rem 6.8rem 0rem;
    }
    .auto-group-ru8d-L89 {
      box-sizing: border-box;
      width: calc(100% - 13rem);
      height: 35.3rem;
      flex-shrink: 0;
      margin: 0rem 6.8rem 0rem 6.2rem;
      padding-right: 21.8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #000000;
      background-color: #ffffff;

      .auto-group-yq2h-Sws {
        margin-right: 21.8rem;
        box-sizing: border-box;
        padding: 7.1rem 9.2rem 9.6rem 9rem;
        width: 33.6rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;

        .nov-Acy {
          max-width: 15.4rem;
          text-align: center;
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.325;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
        }
      }
      .auto-group-lppv-3wf {
        height: calc(100% - 19rem);
        flex-shrink: 0;
        margin: 6.4rem 0rem 12.6rem 0rem;
        width: 53.2rem;

        .pik-pets-adoption-n8Z {
          font-weight: 700;
          line-height: 1.325;
          font-family: PT Serif, 'Source Sans Pro';
          margin-bottom: 1.6rem;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          width: 100%;
          font-size: 6rem;
        }
        .am-1800-pm-7Rj {
          width: 100%;
          text-align: center;
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.325;
          color: #8e8e8e;
          font-family: PT Serif, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
