
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-us-jKw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-lxdb-rvM {
    line-height: 1.325;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11.7rem;
    font-weight: 700;
    white-space: nowrap;
    background-color: #000000;
    flex-shrink: 0;
    font-size: 4rem;
    color: #ffffff;
    font-family: PT Serif, 'Source Sans Pro';
  }
  .auto-group-7xyp-McD {
    height: 190.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .auto-group-xfzh-hg5 {
      width: 118.7rem;
      height: 4.7rem;
      position: absolute;
      left: 13.1rem;
      top: 6rem;
      display: flex;
      align-items: center;

      .profile-2TT {
        white-space: nowrap;
        color: #8e8e8e;
        font-family: PT Serif, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 29.8rem;
        cursor: pointer;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.325;
      }
      .calender-event-ZTP {
        line-height: 1.325;
        color: #8e8e8e;
        white-space: nowrap;
        font-family: PT Serif, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 20.8rem;
        cursor: pointer;
        font-size: 3.5rem;
        font-weight: 700;
      }
      .contact-us-6CR {
        color: #000000;
        font-family: PT Serif, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.325;
      }
    }
    .q-all-about-spirited-away--37f {
      white-space: nowrap;
      width: 61.1rem;
      position: absolute;
      left: 6.4rem;
      font-size: 4.5rem;
      line-height: 1.325;
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      height: 6rem;
      top: 33.3rem;
      font-weight: 700;
    }
    .a-we-are-animal-rescue-comunity-started-3-years-ago-to-helping-all-the-animal-homeless-in-indonesia-we-working-together-across-indonesia-the-animal-are-connected-with-animal-hospital-and-loving-new-family-9Ah {
      position: absolute;
      color: #000000;
      top: 44rem;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.325;
      font-family: PT Serif, 'Source Sans Pro';
      width: 118rem;
      height: 41.8rem;
      left: 6.4rem;
    }
    .faq-vqf {
      top: 19.8rem;
      font-size: 6rem;
      line-height: 1.325;
      width: 11.5rem;
      height: 8rem;
      position: absolute;
      left: 61.9rem;
      font-weight: 700;
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      white-space: nowrap;
    }
    .q-how-can-i-become-a-sponsorship-eWm {
      top: 102.8rem;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.325;
      white-space: nowrap;
      height: 6rem;
      position: absolute;
      left: 7.5rem;
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      width: 78.2rem;
    }
    .a-you-can-email-us-in-spiritedawaygroupgmailcom-we-are-very-happy-and-looking-forward-to-having-you-join-us-x1f {
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      width: 116.6rem;
      font-weight: 700;
      left: 7.5rem;
      top: 113.5rem;
      font-size: 4.5rem;
      line-height: 1.325;
      height: 17.9rem;
      position: absolute;
    }
    .q-where-i-can-see-this-comunity-activities-d7o {
      font-weight: 700;
      font-family: PT Serif, 'Source Sans Pro';
      white-space: nowrap;
      width: 94.2rem;
      height: 6rem;
      top: 141.3rem;
      line-height: 1.325;
      color: #000000;
      position: absolute;
      left: 8.4rem;
      font-size: 4.5rem;
    }
    .a-you-also-can-follow-our-social-medias-in-our-website-footer-7of {
      width: 133.6rem;
      left: 8.4rem;
      font-weight: 700;
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      height: 6rem;
      position: absolute;
      top: 154.6rem;
      font-size: 4.5rem;
      line-height: 1.325;
      white-space: nowrap;
    }
  }
}
