
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-jXF {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-rai5-gSV {
    background-color: #000000;
    flex-shrink: 0;
    height: 11.7rem;
    line-height: 1.325;
    color: #ffffff;
    font-family: PT Serif, 'Source Sans Pro';
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 4rem;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
  }
  .auto-group-7wxr-AsT {
    width: 100%;
    height: 284.3rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-ebsy-6m7 {
      height: 21.4rem;
      position: absolute;
      left: 10.7rem;
      top: 19.9rem;
      display: flex;
      align-items: flex-end;
      width: 99.7rem;

      .name-px1 {
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.325;
        color: #000000;
        font-family: PT Serif, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-4vyt-mMT {
        width: 77.4rem;
        height: 16rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 5.4rem;

        .rectangle-18-hF7 {
          top: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 77.4rem;
          height: 12.4rem;
          position: absolute;
          left: 0;
        }
        .hi-melvin-vincent--oJ9 {
          font-size: 5.5rem;
          color: #000000;
          font-family: PT Serif, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          line-height: 1.325;
          width: 52.8rem;
          height: 7.3rem;
          position: absolute;
          left: 11.9rem;
          top: 0;
        }
      }
    }
    .auto-group-3e5f-GxR {
      position: absolute;
      font-weight: 400;
      border: solid 0.1rem #000000;
      font-size: 5.5rem;
      line-height: 1.325;
      color: #000000;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.5rem 2.7rem 1.4rem 2.7rem;
      background-color: #ffffff;
      width: 110.6rem;
      height: 10.2rem;
      left: 10rem;
      top: 42.2rem;
      font-family: PT Serif, 'Source Sans Pro';
    }
    .auto-group-qdyb-WLy {
      line-height: 1.325;
      top: 109.2rem;
      font-weight: 400;
      font-family: PT Serif, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #000000;
      position: absolute;
      height: 10.2rem;
      color: #000000;
      width: 111.6rem;
      padding: 1.4rem 1.9rem 1.5rem 1.9rem;
      left: 10rem;
      font-size: 5.5rem;
      background-color: #ffffff;
      box-sizing: border-box;
    }
    .auto-group-qnvm-9uj {
      color: #000000;
      height: 10.2rem;
      font-weight: 400;
      font-family: PT Serif, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      padding: 2rem 1.9rem 0.9rem 1.9rem;
      width: 111.6rem;
      white-space: nowrap;
      position: absolute;
      font-size: 5.5rem;
      top: 136.6rem;
      line-height: 1.325;
      box-sizing: border-box;
      left: 10rem;
    }
    .auto-group-waed-nC1 {
      padding: 1.4rem 2.8rem 1.5rem 2.8rem;
      top: 64.6rem;
      font-size: 5.5rem;
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      box-sizing: border-box;
      width: 23.8rem;
      left: 10rem;
      border: solid 0.1rem #000000;
      position: absolute;
      background-color: #ffffff;
      height: 10.2rem;
      font-weight: 400;
      line-height: 1.325;
      white-space: nowrap;
    }
    .auto-group-yu1b-QjB {
      padding: 1.5rem 2.8rem 1.4rem 2.8rem;
      left: 10rem;
      color: #000000;
      white-space: nowrap;
      background-color: #ffffff;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 42.6rem;
      font-weight: 400;
      line-height: 1.325;
      font-family: PT Serif, 'Source Sans Pro';
      top: 83.4rem;
      height: 10.2rem;
      position: absolute;
      font-size: 5.5rem;
    }
    .age-xu7 {
      width: 9rem;
      height: 6.7rem;
      position: absolute;
      left: 10rem;
      top: 57.1rem;
      font-weight: 700;
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 5rem;
      line-height: 1.325;
    }
    .gender-5Tw {
      font-family: PT Serif, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.3rem;
      height: 6.7rem;
      left: 10rem;
      font-size: 5rem;
      font-weight: 700;
      position: absolute;
      top: 75.8rem;
      line-height: 1.325;
      color: #000000;
    }
    .email-C2m {
      white-space: nowrap;
      height: 6.7rem;
      left: 10rem;
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.325;
      width: 13.8rem;
      position: absolute;
      top: 99.1rem;
      font-size: 5rem;
    }
    .telephone-fh3 {
      color: #000000;
      font-family: PT Serif, 'Source Sans Pro';
      white-space: nowrap;
      width: 25.3rem;
      top: 126.5rem;
      font-size: 5rem;
      font-weight: 700;
      line-height: 1.325;
      height: 6.7rem;
      position: absolute;
      left: 10rem;
    }
    .auto-group-hidw-mzy {
      line-height: 1.325;
      display: flex;
      align-items: center;
      height: 13.1rem;
      font-weight: 700;
      width: 143.9rem;
      justify-content: center;
      font-family: PT Serif, 'Source Sans Pro';
      background-color: #000000;
      position: absolute;
      left: 0.1rem;
      color: #ffffff;
      white-space: nowrap;
      top: 161.5rem;
      font-size: 6rem;
    }
    .auto-group-k3x7-sHK {
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      width: 130.4rem;
      height: 35.3rem;
      position: absolute;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-right: 18.7rem;
      left: 4rem;
      top: 181.4rem;

      .auto-group-oxe5-nQH {
        padding: 7.1rem 10.4rem 9.6rem 10.2rem;
        width: 33.6rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 17rem;
        box-sizing: border-box;

        .jan-WLH {
          max-width: 13rem;
          text-align: center;
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.325;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
        }
      }
      .auto-group-git9-F2y {
        flex-shrink: 0;
        margin: 4.6rem 0rem 7.6rem 0rem;
        height: calc(100% - 12.2rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .pets-event-medan-mn1 {
          text-align: center;
          font-size: 6rem;
          font-weight: 700;
          margin-bottom: 1.8rem;
          line-height: 1.325;
          color: #000000;
          font-family: PT Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .you-donate-rp-1000000-for-buying-animal-food-tbj {
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.325;
          color: #8e8e8e;
          font-family: PT Serif, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 61.1rem;
          text-align: center;
        }
      }
    }
    .auto-group-qrxf-kP3 {
      left: 4.7rem;
      align-items: flex-start;
      border: solid 0.1rem #000000;
      width: 130.4rem;
      height: 35.3rem;
      position: absolute;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      padding-right: 10.1rem;
      top: 231.7rem;

      .auto-group-5kzw-TYM {
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 10.7rem;
        box-sizing: border-box;
        padding: 7.1rem 10.5rem 9.6rem 10.3rem;
        width: 33.6rem;

        .feb-N9X {
          max-width: 12.8rem;
          text-align: center;
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.325;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
        }
      }
      .auto-group-a79b-J3B {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 3.1rem;
        align-items: center;
        display: flex;

        .pets-care-delipark-medan-SfB {
          font-family: PT Serif, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          margin-bottom: 3.3rem;
          text-align: center;
          font-size: 6rem;
          font-weight: 700;
          line-height: 1.325;
          color: #000000;
        }
        .you-donate-rp-800000-Ar5 {
          flex-shrink: 0;
          font-size: 5rem;
          font-weight: 700;
          line-height: 1.325;
          font-family: PT Serif, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 3.8rem;
          text-align: center;
          color: #8e8e8e;
        }
      }
    }
    .auto-group-qhsp-t1P {
      display: flex;
      align-items: center;
      width: 118.7rem;
      height: 4.7rem;
      position: absolute;
      left: 10rem;
      top: 5.1rem;

      .profile-D3f {
        font-weight: 700;
        line-height: 1.325;
        color: #000000;
        font-family: PT Serif, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 29.8rem;
        font-size: 3.5rem;
      }
      .calender-event-XKF {
        font-family: PT Serif, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        font-size: 3.5rem;
        font-weight: 700;
        flex-shrink: 0;
        margin-right: 20.8rem;
        line-height: 1.325;
        color: #8e8e8e;
      }
      .contact-us-ddB {
        font-weight: 700;
        line-height: 1.325;
        color: #8e8e8e;
        font-family: PT Serif, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 3.5rem;
      }
    }
  }
}
